{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}

    <form method="POST" action = "{{url_for('create')}}">
        {{ form.hidden_tag() }}

        {{ form.word.label() }}
        {{ form.word(placeholder = "Enter word on English") }}
        <br>
        {{ form.translation.label() }}
        {{ form.translation(placeholder = "Enter translation") }}
        <br>
    <!--    {{ form.user_id.label() }}-->
    <!--    {{ form.user_id(placeholder = "Enter id of user") }}-->
    <!--    <br>-->
        {{ form.submit() }}

    </form>

{% else %}
    <p><a href="{{url_for('registration')}}">Register</a> or <a href="{{url_for('login')}}">login</a> to create new words</p>

{% endif %}

{% endblock %}
