{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h1>Here is words of the user {{current_user.login}}</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Word</th>
        <th>Translation</th>
        <th>Update word</th>
        <th>Delete Word</th>
    </tr>
    </thead>
    <tbody>
    {% for word in data %}
        <tr>
            <td>{{ word.id }}</td>
            <td>{{ word.word }}</td>
            <td>{{ word.translation }}</td>
            <td><a href="{{url_for('update', id=word.id)}}">Обновить</a></td>
            <td><a href="{{url_for('delete', id=word.id)}}">Удалить</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p><a href="{{url_for('registration')}}">Register</a> or <a href="{{url_for('login')}}">login</a> to view your words</p>
{% endif %}


{% endblock %}