{% extends "base.html" %}

{% block content %}


<h1>Here is words of the user {{current_user.login}}</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Word</th>
        <th scope="col">Translation</th>
        <th scope="col">Update word</th>
        <th scope="col">Delete Word</th>
    </tr>
    </thead>
    <tbody>
    {% for word in data_words %}
        <tr>
            <td>{{ word.id }}</td>
            <td>{{ word.word }}</td>
            <td>{{ word.translation }}</td>
            <td><a href="{{url_for('update_word', id=word.id, collection_id=collection_id)}}">Обновить</a></td>
            <td><a href="{{url_for('delete_word', id=word.id, collection_id=collection_id)}}">Удалить</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <a href="{{url_for('create_word', collection_id=collection_id)}}">Add word</a>
{% endblock %}